body {
	background-color: #1C2333;
	color: #F5F9FC;
	font-family: meslo;
	margin: 32px;
}

h1 {
	color: #8AD6F2;
}

button,
input,
select,
option {
	font-family: meslo;
}

textarea {
	tab-size: 4;
}

#svg-history {
	background-color: #1C2333;
	width: 100%;
	height: calc(100vh - (32px + 32px) - (24px + 16px) - 6px);
}

#svg-space {
	background-color: #1C2333;
	width: 100%;
	height: calc(100vh - 6px);
}

.hixel-selectable:hover {
	filter: drop-shadow(0px 0px 6px silver);
}

.paragraph {
	margin: 16px 0 16px 0;
}