body {
  background-color: #1C2333;
  color: #F5F9FC;
  font-family: meslo;
  margin: 2em;
}
h1 {
  color: #8AD6F2;
}
button {
  font-family: meslo;
}
#svg-history {
  background-color: #1C2333; 
  width: 100%;
  height: calc(100vh - (32px + 32px) - (24px + 16px) - 6px);
}